In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into DataFrame

In [9]:
csv_file = "Resources/Malaria_deaths_report.csv"
malaria_df = pd.read_csv(csv_file, skiprows=3)
malaria_df

                            AFRICAN,,,,,,,,,,,,,,,,,,,
0        Algeria,2,1,?,?,?,?,?,?,0,0,1,0,0,0,0,0,0,0,0
1    Angola,"9,510","9,473","14,434","38,598","12,4...
2    Benin,?,468,707,560,944,322,"1,226","1,290",91...
3    Botswana,?,29,23,18,19,11,40,6,12,6,8,8,3,7,22...
4    Burkina Faso,?,"4,233","4,032","4,860","4,205"...
..                                                 ...
121  1 In May 2013, South Sudan was reassigned to t...
122  2 Certified malaria free countries are include...
123  3 There is no local transmission.,,,,,,,,,,,,,...
124  4 In Malaysia, there is no local transmission ...
125  Note: Deaths reported before 2000 can be proba...

[126 rows x 1 columns]